html {
	position: relative;
}

body {
	margin-bottom:100px;
	margin-top: 30px;
}

.jumbotron {
	height: 450px;
	background-image: url('../img/tugas7.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
}

.jumbotron img {
	width: 200px;
	border: 5px solid #fff;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	color: #fff;
}

hr {
	width: 250px;
	border-top: 3px solid #666;
}

section {
	min-height:600px;
}

.portfolio {
	background-color: #eee
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom:0;
	padding-top: 30px;
	width: 100%;
	height: 100px;
	background-color: #333;
}

footer p {
	color: #aaa;
	font-size: 1em;
}

footer p i {
	color: salmon;
}